body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

header {
  margin-top: 3em;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: relative;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3d canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#sliderContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  z-index: 2;
}

#sliderContainer label {
  display: block;
  margin-top: 10px;
}

#sliderContainer input[type="range"] {
  width: 150px;
}

#sliderContainer span {
  margin-left: 10px;
  font-weight: bold;
}

#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#buttonContainer {
  position: absolute;
  top: 200px; /* Adjust based on the height of the sliders */
  right: 20px;
  z-index: 2;
}

#buttonContainer button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#buttonContainer button:hover {
  background-color: #555;
}